:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --sec-logo-color: #f4f4fd;
  --border-color: #e7e9fc;
  --black-color: #000000;
  --white-color: #ffffff;
  --sec-bg-color: #2e2f42;
  --sec-border-color: #8e8f99;
  --sec-header-button: #404bbf;
  --social-color: #31d0aa;
  --modal-color: #fcfcfc;
  --cechbox-text-color: #757575;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 76px;
}

/* TOOLS */
.hidden {
  display: none;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
}

img {
  display: block;
}

/* HEADER */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  max-height: 76px;
  width: 100%;

  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-contacts {
  display: flex;
  margin-left: auto;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.contacts {
  display: flex;
}

.site-nav .item + .item,
.contacts .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 28px;

  font-weight: 500;
  text-decoration: none;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 28px;

  color: var(--primary-text-color);

  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--sec-header-button);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--sec-header-button);
}

.site-nav .link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--sec-header-button);
  border-radius: 2px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.site-nav .link:hover::after,
.site-nav .link:focus::after {
  opacity: 1;
}

.link.active::after {
  content: "";
  position: absolute;

  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  opacity: 1;
}

.link.active {
  color: var(--sec-header-button);
}

/* LOGO */
.logo {
  text-decoration: none;
}

.logo .studio,
.logo .web {
  font-family: "Raleway", cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo .web {
  color: var(--accent-color);
}

.footer-logo {
  text-decoration: none;
}

.footer-logo .web,
.footer-logo .studio {
  font-family: "Raleway", cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.footer-logo .studio {
  color: var(--sec-logo-color);
}

/* HERO */
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;

  text-align: center;

  background-color: var(--sec-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* HERO BUTTON */
.header-button {
  display: inline-block;
  padding: 16px 32px;
  min-width: 169px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-align: center;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover,
.header-button:focus {
  background-color: var(--sec-header-button);
}

/* PORTFOLIO FILTERS */
.filters {
  display: flex;
  margin-bottom: 72px;

  justify-content: center;
}

.filters .item + .item {
  margin-left: 24px;
}

.filters .link {
  display: inline-block;
  padding: 12px 24px;

  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;

  color: var(--accent-color);

  border: none;
  cursor: pointer;

  transition: color, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .link:hover,
.filters .link:active,
.filters .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* WHAT WE CAN DO */
.our-work {
  display: flex;
}

.our-work .item {
  border-bottom: 1px solid var(--border-color);
}

.our-work .item + .item {
  margin-left: 24px;
}

/* SECTIONS */
.section-title.centered {
  margin-top: 0;
  margin-bottom: 72px;

  text-align: center;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* TEAM LIST */
.team-list .title {
  text-align: center;

  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.team-list .text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item + .item {
  margin-left: 24px;
}

.our-team {
  background-color: var(--sec-logo-color);
}

.team {
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px 32px 16px;
  background-color: var(--white-color);
}

.team-list .item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social {
  padding: 0;
  margin-top: 8px;
  width: 40px;
  height: 40px;

  border: none;
  cursor: pointer;
}

.svg-container {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.team-list .social + .social {
  margin-left: 24px;
}

/* OUR APPROACH */
.feature-list .title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list {
  display: flex;
}

.feature-list .item::before {
  content: "";

  display: block;
  height: 112px;
  margin-bottom: 8px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--sec-logo-color);
}

.icon-strategy::before {
  background-image: url(../images/icon1.svg);
}

.icon-punctuality::before {
  background-image: url(../images/icon2.svg);
}

.icon-diligence::before {
  background-image: url(../images/icon3.svg);
}

.item-technologies::before {
  background-image: url(../images/icon4.svg);
}

.feature-list .item + .item {
  margin-left: 24px;
}

.feature-list .item {
  width: 264px;
}

/* OUR SERVICES */
.service-list .item {
  margin-right: 24px;
  margin-bottom: 48px;

  border-bottom: 1px solid var(--border-color);
}

.service-list .item:nth-child(3n) {
  margin-right: 0;
}

.service-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-list .title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.service-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.services {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.service-list .item:hover,
.service-list .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;

  width: 100%;
  height: 100%;

  color: var(--sec-logo-color);
  background-color: var(--accent-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-list .item {
  width: 360px;

  transition: box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-item:hover .overlay {
  transform: translateY(0);
}

/* CUSTOMERS */
.customers-container,
.customers-list {
  display: flex;
  margin: 0;
  padding: 0;

  justify-content: center;
  align-items: center;
}

.customers {
  border: none;
}

.link-customers {
  display: block;
  width: 104px;
  height: 56px;
}

.customers-list .item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: block;
  padding: 16px 32px;
  width: 100%;

  border: 1px solid var(--sec-border-color);
  border-radius: 4px;
  fill: var(--sec-border-color);

  transition: fill, border, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--sec-header-button);
  fill: var(--sec-header-button);
}

.customers-list .item + .item {
  margin-left: 24px;
}

/* FOOTER */
.footer-logo-text {
  margin-right: 120px;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  margin-bottom: 0;

  color: var(--white-color);
}

.footer {
  margin-top: 0;
  margin-bottom: 0;

  background-color: var(--sec-bg-color);
}

.footer .container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-social {
  display: flex;
}

.footer-social .item + .item {
  margin-left: 16px;
}

.footer-ico {
  display: block;
  width: 40px;
  height: 40px;

  fill: rgba(255, 255, 255, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-ico:hover,
.footer-ico:focus {
  fill: var(--social-color);
}

.sec-footer-text {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--border-color);
}

.container.wrapper {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form-field {
  display: flex;
  margin-right: 24px;
  padding: 0;

  flex-direction: column;
}

.form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.form-input {
  width: 264px;
  height: 40px;
  margin: 0;
  padding: 8px 16px;

  background-color: var(--sec-bg-color);

  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.footer-form {
  display: flex;
}

.form-label {
  margin-bottom: 16px;
  font-weight: 500;

  color: var(--white-color);
}

.footer-button {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  margin: 0;

  width: 165px;
  height: 40px;

  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  background-color: var(--sec-header-button);
}

.footer-btn-ico {
  width: 24px;
  height: 24px;

  fill: var(--white-color);
}

.footer-btn-text {
  margin-right: 16px;

  font-weight: 500;
  letter-spacing: 0.04em;

  color: var(--white-color);
}

.footer-sub-btn {
  display: flex;
  align-items: flex-end;
}

.subscribe-container {
  margin-left: auto;
}

/* MODAL */
.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity, visibility, 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 72px;

  position: absolute;
  top: 50%;
  left: 50%;

  height: auto;
  width: 408px;

  background-color: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);

  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  padding: 8px;
  margin: 0;
  min-width: 24px;
  min-height: 24px;

  background: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:focus,
.modal-button:hover {
  fill: var(--white-color);
  background-color: var(--sec-header-button);
}

.close-button {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
}

.form-list {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.form-title {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.modal-list .item {
  margin: 0;
}

.modal-form-title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--sec-border-color);
}

.modal-form-title:last-child {
  margin-bottom: 0;
}

.modal-placeholder {
  padding: 11px 38px 11px 38px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 8px;
  position: relative;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--black-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-placeholder:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-placeholder:focus + .modal-placeholder-icon {
  fill: var(--accent-color);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
  padding: 0;
}

.modal-textarea {
  margin: 0;
  margin-top: 4px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 360px;
  height: 138px;
  resize: none;
}

.modal-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal .modal-submit {
  padding: 16px 64px;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-container .item {
  display: block;
  position: relative;
}

.modal-submit:focus,
.modal-submit:hover {
  background-color: var(--sec-header-button);
}

.modal-placeholder-icon {
  display: block;
  position: absolute;
  top: 58%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title-checkbox:checked {
  background-image: url(../images/icon1.svg);
}

.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-left: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cechbox-text-color);
  text-decoration: none;
}

.checkbox-text > span {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-checkbox {
  -webkit-appearance: none;
}

.confirm {
  display: flex;
  margin-top: 16px;
}

.confirm-ico {
  fill: white;

  min-width: 16px;
  min-height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  outline: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .confirm-ico {
  fill: var(--accent-color);
  border: none;
}

.confirm-ico {
  display: block;
  width: 16px;
  height: 16px;
}

.section.our-features {
  padding-bottom: 0;
}

.filters .list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
